<?xml version="1.0"?>
<robot>
     <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"><origin rpy="0 0 0" xyz="0.0 0.0 -0.08"/>
      <robotNamespace>/bipedv5</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>true</legacyModeNS>
    </plugin>
  </gazebo>



   <gazebo reference="left_ankle_Link">
    <mu1>10000000</mu1>
    <mu2>10000000</mu2>
    <kp>1000000000000000</kp>
    <kd>1</kd>
    <minDepth>0.001</minDepth>
    <maxVel>100</maxVel>
    <self_collide>0</self_collide>
  </gazebo>

  <gazebo reference="right_ankle_Link">
    <mu1>10000000</mu1>
    <mu2>10000000</mu2>
    <kp>1000000000000000</kp>
    <kd>1</kd>
    <minDepth>0.001</minDepth>
    <maxVel>100</maxVel>
    <self_collide>0</self_collide>
  </gazebo>


   <gazebo reference="left_ft">
    <mu1>10000000</mu1>
    <mu2>10000000</mu2>
    <kp>1000000000000000</kp>
    <kd>1</kd>
    <minDepth>0.001</minDepth>
    <maxVel>100</maxVel>
    <self_collide>0</self_collide>
  </gazebo>

  <gazebo reference="right_ft">
    <mu1>10000000</mu1>
    <mu2>10000000</mu2>
    <kp>1000000000000000</kp>
    <kd>1</kd>
    <minDepth>0.001</minDepth>
    <maxVel>100</maxVel>
    <self_collide>0</self_collide>
  </gazebo>



   <gazebo reference="base_link">
    <gravity>true</gravity>
    <sensor name="bipedv5_imu" type="imu">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>bipedv5/imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>100.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
  

 
<gazebo reference="left_ankle_Link">
   <sensor name="bumper_bumper_sensor" type="contact">
        <visualize>true</visualize>
        <always_on>true</always_on>
        <update_rate>50.0</update_rate>
        <contact>
            <collision>left_ankle_Link_collision</collision>
        </contact>
        <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
            <bumperTopicName>bumper_states</bumperTopicName>
            <frameName>left_ankle_Link</frameName>
        </plugin>
    </sensor>
    <material>Gazebo/Red</material>
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
    <gravity>true</gravity>
    <selfCollide>false</selfCollide>
</gazebo>


  <sensor type="contact" name="your_link_contact_sensor">
    <update_rate>1000.0</update_rate>
    <always_on>1</always_on>
    <contact>
      <collision>bumper_collision</collision>
      <topic>/bumper_contact</topic>
    </contact>
  <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>1000.0</updateRate>
          <bumperTopicName>/robot_bumper</bumperTopicName>
          <frameName>world</frameName>
  </plugin>
  </sensor>


  <gazebo reference="la">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>
  <gazebo reference="la_ft">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping> <!-- fixed joints ：true -->
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>bipedv5/left_foot_ft</topicName>
      <jointName>la</jointName>
    </plugin>
  </gazebo>
  <gazebo reference="ra_ft">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>
  <gazebo reference="ra">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping>
  </gazebo>
    <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>bipedv5/right_foot_ft</topicName>
      <jointName>ra</jointName>
    </plugin>
  </gazebo>
  <gazebo reference="lk">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping> <!-- fixed joints ：true -->
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>bipedv5/lk_ft</topicName>
      <jointName>lk</jointName>
    </plugin>
  </gazebo>
  <gazebo reference="lh">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping> <!-- fixed joints ：true -->
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>bipedv5/lh_ft</topicName>
      <jointName>lh</jointName>
    </plugin>
  </gazebo>
  <gazebo reference="rh">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping> <!-- fixed joints ：true -->
  </gazebo>
  <gazebo reference="rk">
     <provideFeedback>true</provideFeedback>
      <disableFixedJointLumping>true</disableFixedJointLumping> <!-- fixed joints ：true -->
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>bipedv5/rk_ft</topicName>
      <jointName>rk</jointName>
    </plugin>
  </gazebo>
  <gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <updateRate>100.0</updateRate>
      <topicName>bipedv5/rh_ft</topicName>
      <jointName>rh</jointName>
    </plugin>
  </gazebo>


   <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>base_link</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo>

   <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>left_ankle_Link</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Red</material>
            </plot>
        </plugin>
    </gazebo>
</robot>